.who-we-are {
    border-radius: 48px;
    padding: 80px 0px;
    background-color: var(--white);
    h1 {
        position: relative;
        font-size: 56px;
        font-weight: bold;
        padding-left: 45px;
        margin-bottom: 55px;
        &::before {
            content: "";
            position: absolute;
            left: 0px;
            top: 0px;
            bottom: 0px;
            width: 2px;
            background-image: linear-gradient(#36c994, #22a7f6);
        }
    }
    .top-positions {
        li {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding: 30px 0px;
            &:nth-child(even) {
                flex-direction: row-reverse;
            }
            @media screen and (max-width: 576px) {
                flex-direction: column !important;
            }
            figure {
                width: 37%;
                height: 42vw;
                border-radius: 10px;
                overflow: hidden;
                max-height: 520px;
                @media screen and (max-width: 576px) {
                    width: 100%;
                    height: auto;
                    margin-bottom: 20px;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .bio-data {
                width: 56%;
                @media screen and (max-width: 576px) {
                    width: 100%;
                }
                p {
                    margin: 24px 0px;
                    line-height: 1.6;
                }
            }
        }
    }
    .team-members {
        border-radius: 48px;
        position: relative;
        background-color: #eef0f5;
        padding: 80px;
        overflow: hidden;
        margin: 60px -30px 0px;
        h1 {
            font-size: 48px;
        }
        .pattern-img {
            position: absolute;
            top: 0px;
            right: 0px;
        }
        .MuiGrid-root {
            margin-top: 0px;
        }
        figure {
            width: 100%;
            height: 350px;
            border-radius: 16px;
            overflow: hidden;
            margin-bottom: 20px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        button {
            display: block;
            margin: 60px auto 0px;
        }
    }
}

.mentorship-program{
    padding: 160px 0px;
    background-image: url("../../assets/images/mentorship-bg.png");
    background-repeat: no-repeat;
    background-position-x: -10vw;
    background-position-y: -30vw;
    background-size: 100%;

    .mentorship-header{
        padding-bottom: 80px;
        border-bottom: 1px dashed var(--primary-light);
        h1{
            color: var(--white);
            font-weight: 700;
            font-size: 56px;
        }
        h2{
            color: #9caabb;
            font-size: 32px;
            font-weight: 500;
        }
    }
    .offering-body{
        padding-top: 100px;
        h1 {
            position: relative;
            font-size: 48px;
            font-weight: bold;
            padding-left: 45px;
            margin-bottom: 80px;
            &::before {
                content: "";
                position: absolute;
                left: 0px;
                top: 0px;
                bottom: 0px;
                width: 2px;
                background-image: linear-gradient(#36c994, #22a7f6);
            }
        }
        h3{
            font-size: 20px;
            font-size: 700;
            color: var(--white);
            margin-top: 30px;
        }
    }
}

.timeline {
    .time-line-header{
        h1{
            font-size: 56px;
        }
    }
    .timeline-content {
        width: 500px;
        margin: auto;
        ul {
            position: relative;
            padding: 120px 0px;
            width: 100%;
            &::before {
                content: "";
                position: absolute;
                left: -1px;
                top: 0px;
                bottom: 0px;
                width: 1px;
                background-image: url("./../../assets//images/timeline/timeline-thread.svg");
                background-repeat: no-repeat;
            }

            li {
                padding: 20px 0px 20px 125px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    left: -20px;
                    top: 50%;
                    width: 150px;
                    height: 35px;
                    z-index: 99;
                    background-image: url("./../../assets//images/timeline/timeline-circle.png");
                    background-repeat: no-repeat;
                    transform: translateY(-50%);
                }
                figure {
                    width: 90px;
                    margin-right: 45px;
                    img {
                        width: auto;
                        max-width: 100%;
                        margin: auto;
                    }
                }
                .number {
                    width: 48px;
                    height: 48px;
                    font-size: 16px;
                    color: var(--white);
                    font-weight: 800;
                    border-radius: 50%;
                    border: 2px solid #115a97;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                h3{
                    margin: 10px 0px;
                    color: white;
                    font-weight: 800;
                }
                h5 {
                    color: #899bb2;
                    font-weight: 500;
                }
            }
        }
    }
}

.subscribe {
    .container {
        border-radius: 48px;
        background-image: url("../../assets/images/subscribe-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 8vw 11vw 8vw 6vw;
        @media screen and (min-width: 1500px){
            padding: 110px 150px 110px 80px;
        }
        h1 {
            font-size: 50px;
            color: white;
            font-weight: bold;
            margin: 30px 0px;
        }
        .email-cover {
            position: relative;
            margin: 30px 0px;
            input {
                border-radius: 50px;
                padding: 32px 70px 32px 25px;
                font-size: 18px;
                background-color: white;
                color: black;
                outline: none;
                border: none;
                width: 400px;
            }
            img {
                position: absolute;
                right: 10px;
                top: 10px;
            }
        }
    }
}

.contact-us {
    padding: 110px 0px;
    h1 {
        position: relative;
        font-size: 56px;
        color: var(--white);
        font-weight: bold;
        padding-left: 45px;
        margin-bottom: 55px;
        &::before {
            content: "";
            position: absolute;
            left: 0px;
            top: 0px;
            bottom: 0px;
            width: 2px;
            background-image: linear-gradient(#36c994, #22a7f6);
        }
    }
    ul {
        li {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 16px 0px;
            &:first-child {
                padding-top: 0px;
            }
            figure {
                width: 64px;
                margin-right: 16px;
                img {
                    width: 100%;
                }
            }
            label {
                color: #9ba8bd;
                font-size: 16px;
                display: block;
            }
            h2 {
                color: var(--white);
                margin-top: 10px;
            }
        }
    }
    form {
        width: 450px;
        margin-top: 40px;
        max-width: 100%;
        label {
            color: #9ba8bd;
            font-size: 16px;
            display: block;
        }
        input,
        textarea {
            font-size: 18px;
            padding: 16px 32px;
            outline: none;
            border: none;
            max-width: 100%;
            background-color: white;
            border-radius: 8px;
            margin: 15px 0px 25px;
            width: 100%;
        }
    }
}
