header {
    padding: 20px 0px 20px;
    position: fixed;
    // top: -40px;
    color: white;
    // backdrop-filter: blur(30px);
    z-index: 999;
    transition: 0.3s;
    width: 100%;
    @media screen and (max-width: 767px) {
        top: 0px;
        padding: 24px 0px;
    }
    & > .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .logo-cover {
        width: 233px;
        transition: 0.3s;
        @media screen and (max-width: 767px) {
            width: 130px;
        }
        img {
            width: 100%;
        }
    }
    .for-mob {
        margin-right: 15px;
        display: none;
    }
    .open-menu {
        letter-spacing: 2px;
        cursor: pointer;
    }
    .menu-cover {
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
        height: 100vh;
        width: 100vw;
        background-image: url("../../assets/images/menu-list-bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        @media screen and (max-width: 767px) {
            background-image: url("../../assets/images/menu-bg-mob.svg");
            background-repeat: no-repeat;
            background-position-y: top;
            background-position-x: 100%;
            background-size: inherit;
        }
        &.active {
            display: block;
        }
        header {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            top: 0px;
            position: sticky;
        }
        .menu-list {
            width: 480px;
            max-width: 100%;
            margin-left: auto;
            overflow-y: auto;
            max-height: calc(100vh - 160px);
            padding-right: 10px;
            margin-right: 0px;
            li {
                padding: 19px 0px 21px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 2px solid #6b8196;
                transition: 0.3s;
                cursor: pointer;
                height: 90px;
                @media screen and (max-width: 767px) {
                    padding: 15px 0px 16px;
                    height: 80px;
                }
                h1 {
                    font-size: 22px;
                    font-weight: 400;
                    transition: 0.3s;
                }
                &:hover {
                    border-color: var(--white);
                    h1 {
                        font-size: 36px;
                        font-weight: bold;
                        @media screen and (max-width: 767px) {
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }
}

html:not([data-scroll="0"]) {
    header {
        backdrop-filter: blur(30px);
    }
    .logo-cover {
        width: 180px;
        @media screen and (max-width: 767px) {
            width: 100px;
        }
    }
}
